# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

!addrevokedcerts
!certs
!crl
!private
!revokedcerts
intermediate.crl.txt
intermediate.crl.der
intermediate.crl.pem
